body{
  padding: 0;
  margin: 0;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100%;
}
.navigation{
  padding-top: 2rem;
  text-align: center;
  font-size: large;
  background-color: #00aaff33;
}
.navigation a{
  padding: 5px;
}
.header{
  text-align: center;
  padding-left: 10rem;
  padding-right: 10rem;
}
.content{
  text-align: center;
  padding-left: 10rem;
  padding-right: 10rem;
}

.content img{
 min-width: 10rem;
 max-width: 10rem;
}

.footer{
  text-align: center;
  padding-left: 10rem;
  padding-right: 10rem;
}

.table-sortable{
  background-color: bisque;
  width: 100%
}


.table-sortable th {
  cursor: pointer;
  background-color: #00aaff33;
}

.table-sortable .th-sort-asc::after {
  content: "\25b4";
}

.table-sortable .th-sort-desc::after {
  content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
  margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
  background: rgba(0, 0, 0, 0.1);
}

.table-sortabletd{
  width: 13vw;
  height: 15vh;
}


